*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: rgb(210, 243, 210);
}
header{
    height:100vh;
    color:white;
    background-color: rgb(22, 224, 22);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-size: 50px;
    color: rgb(22, 224, 22);

}
header h1{
    color:white;
    text-align: center;
}
.button{
    margin:15px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor:pointer;

}
.button:hover{
    color: white;
    background-color: #008000;
    transform: translateY(-10px);
}
img{
    height:200px;
}
main{
    padding:20px;
}
section{
    height:100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 7px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
section.div p{
    text-align: left;
}
ol li{
    font-size: 20px;
}
form div{
    margin: 5px 0;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    color:green;
}
.submit:hover{
    color: white;
    background-color: rgb(160, 184, 160) ;
}
input{
    border-radius: 5px;
    border:1px solid lightgrey;
    height:25px;
}
.fixedButton{
    position: fixed;
    bottom:10px ;
    right:10px;
    height:70px;
    width:70px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    color:white;
    background-color:rgb(160, 184, 160);
    border-width: 2px;
}
footer{
    height : 125px;
    background-color: black;
    color:lightgrey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}